@use "@/theme/_handle.scss" as *;
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    //box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif, 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    @include font_color("primaryTextColor");
    @include background_color("mainBackgroundColor");
  transition: all 0.5s;
}

// markdown样式
.markdown-body {
  transition: all 0.5s;
  text-align: start;
  margin-top: 3rem;
  @include background_color("contentBackgroudColor");
  @include font_color("primaryTextColor");
  h1,h2,h3,h4,h5,h6 {
    @include border_color("markdownBorderBottomColor");
  }
  hr {
    @include background_color("markdownBorderBottomColor");
  }
  // 奇数行tr背景色
  tr:nth-child(odd) {
      @include background_color("markdownTrBackgroundColor");
  }
  // 偶数行tr背景色
  tr:nth-child(even) {
      @include background_color("markdownTr2nBackgroundColor");
  }
  // 表格边框颜色
  th,tr,td {
    @include border_color("markdownBorderBottomColor");
  }
}

// 底部分页样式
.Page {
  @include font_color("primaryTextColor");
}
.Page-active{
  @include font_color("contentBackgroudColor");
}
.Control {
  @include fill_color("cardHoverBackgroundColor");
}
.Control-active {
  @include fill_color("primaryTextColor");
}

@media screen and (min-width: 1450px) {
  html {
      font-size: 75%;
  }
}