<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeliheng.blogsystem.mapper.DictionaryMapper">

    <insert id="addDictionary" parameterType="Dictionary" useGeneratedKeys="true" keyProperty="id">
        insert into dictionary(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="dictName != null and dictName != ''">dict_name,</if>
        <if test="dictCode != null and dictCode != ''">dict_code,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="status != null and status != ''">status,</if>
        created_at,
        updated_at
        )values (
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="dictName != null and dictName != ''">#{dictName},</if>
        <if test="dictCode != null and dictCode != ''">#{dictCode},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="status != null and status != ''">#{status},</if>
        sysdate(),
        sysdate()
        )
    </insert>
    <update id="updateDictionary" parameterType="Dictionary">
        update dictionary
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
            <if test="dictCode != null and dictCode != ''">dict_code = #{dictCode},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectDictionaryList" parameterType="Dictionary" resultType="Dictionary">
        select * from dictionary
        <where>
            <if test="dictName != null and dictName != ''">
                and dict_name like concat('%', #{dictName}, '%')
            </if>
            <if test="dictCode != null and dictCode != ''">
                and dict_code = #{dictCode}
            </if>
            <if test="description != null and description != ''">
                and description like concat('%', #{description}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectDictionaryById" parameterType="Long" resultType="Dictionary">
        select * from dictionary where id = #{id}
    </select>

    <select id="checkDictCodeUnique" resultType="Long">
        select id from dictionary where dict_code = #{dictCode}
    </select>

    <delete id="deleteById" parameterType="Long">
        delete from dictionary where id = #{id}
    </delete>

</mapper>