<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeliheng.blogsystem.mapper.DraftMapper">

    <resultMap id="DraftResult" type="Draft">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="summary" column="summary" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <resultMap id="DraftListResult" type="Draft">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="summary" column="summary" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <insert id="addDraft" parameterType="Draft" useGeneratedKeys="true" keyProperty="id">
        insert into draft(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="summary != null and summary != ''">summary,</if>
        <if test="content != null and content != ''">content,</if>
        created_at,
        updated_at
        )values (
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="summary != null and summary != ''">#{summary},</if>
        <if test="content != null and content != ''">#{content},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateDraft" parameterType="Draft">
        update draft
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="getDraftList" resultMap="DraftListResult">
        select id, user_id, title, summary, created_at, updated_at from draft order by id desc
    </select>


    <select id="getDraftById" resultMap="DraftResult" parameterType="Long">
        select id, user_id, title, summary, content, created_at, updated_at from draft where id = #{draftId}
    </select>

    <delete id="deleteDraftById" parameterType="Long">
        delete from draft where id = #{draftId}
    </delete>

</mapper>