// styles/element/index.scss
/* just override what you need */
$background-color-dark: #3f3f3f;
$font-color: #d0d0d0;
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #8b1bce,
    ),
  ),
  $input: (
    "background-color": $background-color-dark,
    "font-color": $font-color
  ),
  $text-color: 
  (
    'primary': #d0d0d0,
    'regular': #d0d0d0,
    'secondary': #303133,
    'placeholder': #c0c4cc,
  ),

);
@import "element-plus/theme-chalk/src/index.scss";
