<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeliheng.blogsystem.mapper.CategoryMapper">
    <insert id="addCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
        insert into category(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="categoryName != null and categoryName != ''">category_name,</if>
        created_at,
        updated_at
        )values (
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
        sysdate(),
        sysdate()
        )
    </insert>
    <update id="updateCategory" parameterType="Category">
        update category
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectCategoryList" parameterType="Category" resultType="Category">
        select c.id, c.category_name, count(a.id) as article_count, c.created_at, c.updated_at
        from category c
        left join (select id, category_id from article where visible = 1) a on c.id = a.category_id
        group by c.id
        <if test="categoryName != null and categoryName != ''">
            where category_name like concat('%', #{categoryName}, '%')
        </if>
    </select>

    <select id="countArticles" parameterType="Long" resultType="int">
        select count(1) from article where category_id = #{categoryId}
    </select>

    <select id="existsById" parameterType="Long" resultType="int">
        select count(1) from category where id = #{categoryId}
    </select>

    <delete id="deleteById" parameterType="Long">
        delete from category where id = #{categoryId}
    </delete>

    <select id="countCategories" resultType="int">
        select count(1) from category
    </select>
</mapper>