spring:
    profiles:
      active: dev
    mvc:
      throw-exception-if-no-handler-found: true
    web:
      resources:
        add-mappings: false
server:
  error:
    whitelabel:
      enabled: false