<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeliheng.blogsystem.mapper.ArticleMapper">
    <insert id="addArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="categoryId != null and categoryId != ''">category_id,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="summary != null and summary != ''">summary,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="visible != null and visible != ''">visible,</if>
        created_at,
        updated_at
        )values (
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="summary != null and summary != ''">#{summary},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="visible != null and visible != ''">#{visible},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateArticle" parameterType="Article">
        update article
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            category_id = #{categoryId},
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="visible != null and visible != ''">visible = #{visible},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="getArticles" resultType="Article">
        select id,user_id,category_id,title,url,summary,visible,created_at,updated_at from article
    </select>

    <select id="getArticlesByCategoryId" resultType="Article">
        select * from article where category_id = #{categoryId} and visible = 1
    </select>
</mapper>