<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeliheng.blogsystem.mapper.RoleMenuMapper">
    <insert id="batchRoleMenu">
    insert into role_menu(role_id,menu_id,created_at,updated_at) values
    <foreach item="item" index="index" collection="roleMenuList" separator=",">
        (#{item.roleId},#{item.menuId},sysdate(),sysdate())
    </foreach>
</insert>
</mapper>